{{! Numpy Docstring Template }}
{{summaryPlaceholder}}

Name
----
{{#name}}
{{name}}
{{/name}}
{{^name}}
_name_
{{/name}}

Description
-----------
{{extendedSummaryPlaceholder}}

Dependencies
------------
    External
    --------
    {{#placeholder}}_external_dependency_{{/placeholder}}
        {{descriptionPlaceholder}}

    Internal
    --------
    {{#placeholder}}_internal_dependency_{{/placeholder}}
        {{descriptionPlaceholder}}

{{^name}}
Attributes
----------
    Classes
    -------
    {{#placeholder}}_class_{{/placeholder}}
        {{descriptionPlaceholder}}

    Functions
    ---------
    {{#placeholder}}_function_{{/placeholder}}
        {{descriptionPlaceholder}}

    Variables
    ---------
    {{#placeholder}}_variable_{{/placeholder}} : {{#placeholder}}_type_{{/placeholder}}
        {{descriptionPlaceholder}}
{{/name}}

{{#parametersExist}}

Parameters
----------
{{#args}}
{{var}} : {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
{{var}} : {{typePlaceholder}}, optional
    {{descriptionPlaceholder}}, by default {{&default}}
{{/kwargs}}
{{/parametersExist}}

{{#returnsExist}}

Returns
-------
{{#returns}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}
{{#yieldsExist}}

Yields
------
{{#yields}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}
{{#exceptionsExist}}

Raises
------
{{#exceptions}}
{{type}}
    {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}

{{#name}}
Examples
--------
{{#placeholder}}_example_{{/placeholder}}
{{/name}}